body {
  background: #808080;
  display: table;
  width: 100%;
  height: 100vh;
}
h1 {
  font-size: 50px;/* フォントサイズ */
  padding: 5px 8px;
  color: #fff;
  background: #094;
  box-shadow: 5px 5px 0 #007032;
  margin-left: auto;
  margin-right: auto;
  width: 80%;/* 幅 */
  height: 70px; /* 高さ */
}
/* パンクズナビ */
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  text-align: right;/* 右寄せ */
}
.breadcrumb li {
  position: relative;
  display: inline-block;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
  margin-right: 0.8em;
}
.breadcrumb li:after {/*三角の部分*/
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-style: solid;
  border-color: transparent;
  border-left-color: #aedfc6;/*背景色*/
  border-width: 14px 12px;
  width: 0;
  height: 0;
}
.breadcrumb li a {
  display: inline-block;
  padding: 0 3px 0 7px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #747772;
  background: #aedfc6;/*背景色*/
  font-size: 13px;
}
.breadcrumb li a:hover {
  color: #FFF;
}
/* パンクズナビ終了 */
table.info {
  border-collapse: collapse;
  height: 100px;
  width: 1300px;
  margin: 10px auto;
  text-align: center;
}
table.info th {
  font-size: 25px;
  border: 5px solid #000;
  background-color: #664dc1;
  color: #fff;
}
table.info td {
  font-size: 40px;
  width: 200px;
  border: 5px solid #000;
  background-color: #fff;
  color: #000;
}
table.search {
  border-collapse: collapse;
  width: 50%;
  margin: 30px auto;
  text-align: center;
}
table.search th {
  font-size: 25px;
  border: 3px solid #000;
  background-color: #4d8dc1;
  color: #fff;
}
table.search td {
  height: 50px;
  border: 3px solid #000;
  color: #ffffff00;
}
select, input {
  font-weight: bold; /* 太文字 */
  font-size: 25px;/* フォントサイズ */
  border-radius: 5px;/* 角の丸み*/
  color: #000;/* テキストカラー */
  background-color: #FFF; /* 背景色 */
  width: 200px;
  text-align: center;
}
table.list {
  border-collapse: collapse;
  margin: 30px auto;
  text-align: center;
  width: 100%;
}
table.list th {
  width: 100px;
  height: 30px;
  border: 3px solid #000;
  background-color: #4d8dc1;
  color: #fff;
}
table.list .name{
  width: 180px;
}
table.list .deadline{
  width: 200px;
}
table.list .registration{
  width: 200px;
}
table.list .update{
  width: 200px;
}
table.list td {
  font-weight: bold;/*  太文字 */
  height: 60px;
  border: 3px solid #000;
  color: #000;
  background-color: #fff;
}
.insert {
  background-color: #fff;
  border: solid 2px #191970;
  color: #191970;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 30px;
  box-shadow: 0 5px 0 #191970;
  transition: .3s;
  cursor: pointer;
  width: 130px;
  margin: 30px 0 0 10%;
}
.insert:hover { 
  color: #191970;
  transform: translateY(5px);
  box-shadow: 0 0 0 #191970; 
}
.btn_area {
  margin: 10px auto;
  text-align: center;
}
button {
  font-size: 30px;
  width: 300px;
  cursor: pointer;
  background-color: #bfc14d; 
} 

.detail .button{
  font-size: 30px;
  padding: 3px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;

  left: 50px;
  top: 260px;
  height: 10px;
  text-align: center;
  background-color: #bfc14d04;
} 
