h1 {
  padding: 5px 8px;
  color: #fff;
  background: #094;
  box-shadow: 5px 5px 0 #007032;
}
.first-table, .second-table, .third-table, .fourth-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
 
}
.first-table td, .second-table td, .third-table td, .fourth-table td {
  border: 3px solid #e6f6f3;
  background-color: #e6f6f3;
  padding: 3px;
}
.first-table th {
  border: 3px solid #e6f6f3;
  background-color: #4d8dc1;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  width: 180px;
  height: 3px; 
}
.second-table th {
  border: 3px solid #e6f6f3;
  background-color: #c14d4d;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 180px;
  height: 3px; 
}
.third-table th {
  border: 3px solid #e6f6f3;
  background-color: #764dc1;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 180px;
  height: 3px; 
}
.fourth-table th {
  border: 3px solid #e6f6f3;
  background-color: #c1b54d;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 180px;
  height: 3px;   
}
select {
  font-size: 20px;/* フォントサイズ */
  color: #000;/* テキストカラー */
  border-radius: 5px;/* 角の丸み */
  font-weight: bold;
  text-align: center;
  width: 145px;
}
.text {
  /* display: inline-block; テキストに応じて幅を可変させるため */
  /* margin: 5px 0; 前後の隙間 */
  padding: 10px 10px; /* 塗りの余白 */
  font-size: 20px; /* フォントサイズ */
  background-color: #FFF; /* 背景色 */
  color: #000; /* テキストカラー */
  border-radius: 5px; /* 角の丸み */
  /* border: 1; 枠線を消す */
  font-weight: bold;
  /* text-align: center; */
  width:250px;
  height: 5px;
} 
.p-postal-code, .p-region, .p-locality {
  font-size: 20px;/* フォントサイズ */
  color: #000;/* テキストカラー */
  border-radius: 5px;/* 角の丸み */
  font-weight: bold;
  text-align: center;
  width: 120px;
}
.p-street-address, .p-extended-address {
  /* 郵便番号の枠 */
  /* display: inline-block; テキストに応じて幅を可変させるため */
  /* margin: 1em 0; 前後の隙間 */
  padding: 10px 10px; /* 塗りの余白 */
  font-size: 20px; /* フォントサイズ */
  background-color: #FFF; /* 背景色 */
  color: #000; /* テキストカラー */
  border-radius: 5px; /* 角の丸み */
  /* border: 1; 枠線を消す */
  font-weight: bold;
  /* text-align: center; */
  width:750px;
  height: 5px;
}
.account_tel01, .account_tel02, .account_tel03 {
  /* 電話番号の枠*/
  /* display: inline-block; テキストに応じて幅を可変させるため */
  /* margin: 1em 0; 前後の隙間 */
  padding: 10px 10px; /* 塗りの余白 */
  font-size: 20px; /* フォントサイズ */
  background-color: #FFF; /* 背景色 */
  color: #000; /* テキストカラー */
  border-radius: 10px; /* 角の丸み */
  /* border: 1; 枠線を消す */
  font-weight: bold;
  /* text-align: center; */
  width:90px;
  height: 5px;
} 
.p-street-address, .p-extended-address {
  /* 町名番地・マンション名などの枠 */
  /* display: inline-block; テキストに応じて幅を可変させるため */
  /* margin: 1em 0; 前後の隙間 */
  padding: 10px 10px; /* 塗りの余白 */
  font-size: 20px; /* フォントサイズ */
  background-color: #FFF; /* 背景色 */
  color: #000; /* テキストカラー */
  border-radius: 10px; /* 角の丸み */
  /* border: 1; 枠線を消す */
  font-weight: bold;
  width:750px;
  height: 5px;
} 

.button {
  background-color: #fff;
  border: solid 2px #191970;
  color: #191970;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 50px;
  box-shadow: 0 5px 0 #191970;
  transition: .3s;
}
.flex {
padding: 30px 0;
display: flex;
justify-content: center;
}
.button:hover {
  color: #191970;
  transform: translateY(5px);
  box-shadow: 0 0 0 #191970;
}





