h1 {
  padding: 10px 10px;
  color: #fff;
  background: #094;
  -webkit-box-shadow: 5px 5px 0 #007032;
  -moz-box-shadow: 5px 5px 0 #007032;
  box-shadow: 5px 5px 0 #007032;
}
.form-table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
}
.form-table th, .form-table td {
  border: 3px solid #ffffff;
  background-color: #e6f6f3;
  padding: 10px;
}
.form-table th {
  background-color: #4d9bc1;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width:130px;
  height: 80px;
}
.text-box{
  /* display: inline-block; テキストに応じて幅を可変させるため */
  /* margin: 5px 0; 前後の隙間 */
  padding: 20px 30px; /* 塗りの余白 */
  font-size: 30px; /* フォントサイズ */
  background-color: #FFF; /* 背景色 */
  color: #000; /* テキストカラー */
  border-radius: 10px; /* 角の丸み */
  /* border: 1; 枠線を消す */
  font-weight: bold;
  text-align: center;
  width:250px;
  height: 20px;
} 
.text1{
  /* 郵便番号の枠 ・電話番号の枠*/
  /* display: inline-block; テキストに応じて幅を可変させるため */
  /* margin: 1em 0; 前後の隙間 */
  padding: 20px 25px; /* 塗りの余白 */
  font-size: 30px; /* フォントサイズ */
  background-color: #FFF; /* 背景色 */
  color: #000; /* テキストカラー */
  border-radius: 10px; /* 角の丸み */
  /* border: 1; 枠線を消す */
  font-weight: bold;
  text-align: center;
  width:90px;
  height: 20px;
} 
.text2{
  /* 町名番地・マンション名などの枠 */
  /* display: inline-block; テキストに応じて幅を可変させるため */
  /* margin: 1em 0; 前後の隙間 */
  padding: 20px 25px; /* 塗りの余白 */
  font-size: 20px; /* フォントサイズ */
  background-color: #FFF; /* 背景色 */
  color: #000; /* テキストカラー */
  border-radius: 10px; /* 角の丸み */
  /* border: 1; 枠線を消す */
  font-weight: bold;
  width:750px;
  height: 20px;
} 

.button {
  background-color: #fff;
  border: solid 2px #191970;
  color: #191970;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 50px;
  box-shadow: 0 5px 0 #191970;
  transition: .3s;
}
.flex {
padding: 30px 0;
display: flex;
justify-content: center;
}
.button:hover {
  color: #191970;
  transform: translateY(5px);
  box-shadow: 0 0 0 #191970;
}





