.btn-label{
  display: inline-block; /* テキストに応じて幅を可変させるため */
  margin: 1em 0; /* 前後の隙間 */
  padding: 0.6em 1em; /* 塗りの余白 */
  font-size: 1em; /* フォントサイズ */
  background-color: #1aa1ff; /* 背景色 */
  color: #FFF; /* テキストカラー */
  border-radius: 3px; /* 角の丸み */
  border: 0; /* 枠線を消す */
  font-weight: bold;
} 
.text-box{
  display: inline-block; /* テキストに応じて幅を可変させるため */
  margin: 1em 0; /* 前後の隙間 */
  padding: 0.6em 1em; /* 塗りの余白 */
  font-size: 1em; /* フォントサイズ */
  background-color: #FFF; /* 背景色 */
  color: #000; /* テキストカラー */
  border-radius: 3px; /* 角の丸み */
  border: 1; /* 枠線を消す */
  font-weight: bold;
} 
.btn-submit {
  display: block;
  padding: 7px 25px;
  border-radius: 7px;
  border: none;
  border-bottom: 4px solid #1d7dcc;
  background-color: #2196f3;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  appearance: none;
}

.btn-submit:active {
  margin-top: 3px;
  background-color: #309bf2;
  border-bottom: 2px solid #006366;
}
